#wrapper {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

#video {
    height: 60%
}

body {
    font-size: 87.5%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,li, video {

    margin: 0;
    padding: 0;
    

}

h1, h4, h5 {

    color:darkgreen;
}

h1, h4 {

    line-height: 200%;
    margin: 5px

}

#left-column {
    width: 70%;
    height: 720px;
    float: left;
    overflow: auto;

}

#right-column {
    text-align: center;
    height: 720px;
    width: 30%;
    float: right;
    overflow: auto;
}

.col-container {
    display: table;
    width: 100%;
}

video {
    margin: 5px;
}
